body {
  overflow:hidden;
}

.agent-register-container {
  max-width: 400px;
  padding: 15px;
  margin: 150px auto 0;
  text-align: center;
}

.agent-register-container input {
  margin-top: 5px;
}

.agent-register-container input.error{
  border: 1px solid red;
}

.token-container {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
}

.token-display {
  background: white;
  width: 500px;
  padding: 30px;
  margin: auto;
  padding: 10px 30px;
  margin-top: 250px;
  text-align: center;
}